@font-face {
  font-family: "iconfont"; /* Project id 3564519 */
  src: url('./@/common/iconfont.woff2') format('woff2'),
       url('@/common/iconfont.woff') format('woff'),
       url('@/static/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-fangdajing:before {
  content: "\e637";
}

.icon-shangjiantou:before {
  content: "\e628";
}

.icon-lajitong:before {
  content: "\e609";
}

.icon-shanglajiantou:before {
  content: "\e626";
}

